.sider {
    overflow: auto;
    height: 100vh;
    position: sticky;
    inset-inline-start: 0;
    top: 0;
    bottom: 0;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.contentWrapper {
    margin: 24px 16px 0;
    overflow: initial;
}

.contentInner {
    padding: 24px;
    text-align: left;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 700px;
}

.footer {
    text-align: center;
}


.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 24px;
}
